.list{
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
    width: 70px;
    height: 30px;
}

.item:hover{
    background-color: #ffffff28;
    color: #ffffff9a;
    font-size: 15px; 
}

