/* section title*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    color: rgb(165, 82, 82);
    font-size: 40px;
}

.text_title{
    width:90rem;
    font-size: 18px;
}

/* section info */
img{
    width: 700px;
    height: 600px;
    border-radius: 2rem;
    box-shadow: 1px 1px 20px black;
}